
# Place a copy of this config to ~/.aerospace.toml
# After that, you can edit ~/.aerospace.toml to your liking

after-startup-command = [
	"exec-and-forget sketchybar",
  'exec-and-forget brew services restart sketchybar'
]

on-focus-changed = [
  	'exec-and-forget /bin/bash -c /opt/homebrew/bin/sketchybar --trigger front_app_switched',
  	'exec-and-forget sketchybar --trigger update_windows',
    'move-mouse window-lazy-center'
]

exec-on-workspace-change = [
  '/bin/zsh',
  '-c',
  'sketchybar --trigger aerospace_workspace_changed FOCUSED_WORKSPACE=$AEROSPACE_FOCUSED_WORKSPACE'
]

start-at-login = true 

enable-normalization-flatten-containers = true
enable-normalization-opposite-orientation-for-nested-containers = true

accordion-padding = 30

default-root-container-layout = 'tiles'

default-root-container-orientation = 'auto'

on-focused-monitor-changed = ['move-mouse monitor-lazy-center']

automatically-unhide-macos-hidden-apps = false

[key-mapping]
preset = 'qwerty'

[gaps]
inner.horizontal = 10 
inner.vertical =   10 
outer.left =       10  
outer.bottom =     10 
outer.top =        40 
outer.right =      10 

[mode.main.binding]

ctrl-shift-space = 'layout floating tiling' # 'floating toggle' in i3
ctrl-e = 'layout tiles horizontal vertical' # 'layout toggle split' in i3

# Launch iTerm new window
ctrl-enter = '''exec-and-forget osascript -e '
tell application "iTerm2"
    create window with default profile
    activate
end tell'
'''

# safari
# ctrl-b = '''exec-and-forget osascript -e '
# tell application "Safari"
#     make new document at end of documents
#     activate
# end tell'
# '''

# brave browser
ctrl-b = '''exec-and-forget osascript -e '
tell application "Brave Browser"
    activate
    make new window
end tell'
'''
ctrl-f = "exec-and-forget /usr/bin/osascript -e 'tell application \"Finder\" to make new Finder window' -e 'activate'"

ctrl-slash = 'layout tiles horizontal vertical'
ctrl-comma = 'layout accordion horizontal vertical'

# Focus movement
ctrl-h = 'focus left'
ctrl-j = 'focus down'
ctrl-k = 'focus up'
ctrl-l = 'focus right'

# Move windows
ctrl-shift-h = 'move left'
ctrl-shift-j = 'move down'
ctrl-shift-k = 'move up'
ctrl-shift-l = 'move right'

# Resize windows
ctrl-shift-minus = 'resize smart -50'
ctrl-shift-equal = 'resize smart +50'

# Switch workspaces
ctrl-1 = 'workspace 1'
ctrl-2 = 'workspace 2'
ctrl-3 = 'workspace 3'
ctrl-4 = 'workspace 4'
ctrl-5 = 'workspace 5'

# Move window to workspace
ctrl-shift-1 = 'move-node-to-workspace 1'
ctrl-shift-2 = 'move-node-to-workspace 2'
ctrl-shift-3 = 'move-node-to-workspace 3'
ctrl-shift-4 = 'move-node-to-workspace 4'
ctrl-shift-5 = 'move-node-to-workspace 5'

# Workspace toggles
alt-tab = 'workspace-back-and-forth'
ctrl-shift-tab = 'move-workspace-to-monitor --wrap-around next'

# Switch to service mode
ctrl-shift-semicolon = 'mode service'

[mode.service.binding]
esc = ['reload-config', 'mode main']
r = ['flatten-workspace-tree', 'mode main'] # reset layout
f = ['layout floating tiling', 'mode main'] # Toggle between floating and tiling
backspace = ['close-all-windows-but-current', 'mode main']

ctrl-shift-h = ['join-with left', 'mode main']
ctrl-shift-j = ['join-with down', 'mode main']
ctrl-shift-k = ['join-with up', 'mode main']
ctrl-shift-l = ['join-with right', 'mode main']

[workspace-to-monitor-force-assignment]
1 = 1 
2 = 1  
3 = 1  
4 = 1  
5 = 1

